/* General stylerules for the entire page. */
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

/* buttons */
button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1b98e0;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #1b98e0;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
/* Social Icons */
.social-icons {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 11vw;
}
i.fa {
  color: #ffffff;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  color: #fff;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}
.social-icon--twitter {
  background: #2b97f1;
  color: #fff;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--codepen {
  background: #000;
  color: #fff;
}
.social-icon--codepen .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}
.social-icon--facebook {
  background: #3b5a9b;
  color: #fff;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  color: currentColor;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}
.social-icon--instagram {
  background: #527fa6;
  color: #fff;
}
.social-icon--instagram .tooltip {
  background: #527fa6;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #527fa6;
}
.social-icon--dribbble {
  background: #ef5a92;
  color: #fff;
}
.social-icon--dribbble .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--dribbble .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #4284c0;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #4284c0;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}
/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

/*Think Element */
.svg {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
}
.blend {
  mix-blend-mode: multiply;
}
.isolate {
  isolation: isolate;
}

/* Navbar */

nav {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  padding-bottom: 0%;
  background-color: #fbf9ff !important;
  z-index: 1;
  position: fixed;
}
nav a {
  color: black !important;
}
nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #ffffff !important;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #1b98e0;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
a.navbar-brand {
  margin: 0%;
  padding: 0%;
}
ul.navbar-nav {
  white-space: nowrap;
  overflow: hidden;
}
/* Footer */

footer {
  background-color: #011627;
}
p.copyright {
  margin-top: 1.5vw;
}

/* Main Section */

img.bluebg {
  margin-top: -5%;
  margin-right: 0%;
  height: max-content;
  width: 115%;
  z-index: -1;
  position: relative;
}
img.whitebg {
  width: 115%;
  height: max-content;
  position: relative;
}
h1.ACMT {
  position: absolute;

  color: #434343;
  margin-top: 12vw;
  margin-left: 5vw;
  font-style: normal;
  font-weight: bolder;
  font-size: 96px;
}
.maintext {
  position: absolute;

  margin-top: 19vw;
  margin-left: 5vw;

  color: #434343;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.whitecircle {
  text-align: left;
  margin-top: 4vw;
}
.learn-more {
  position: absolute;
  margin-top: 34vw;
  margin-left: -50vw;
}

/* Section 2 - What we do*/
h1.whatwedo {
  color: #434343;

  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 56px;
  margin-top: -2vw;
}

h3.whatwedopoints {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  font-feature-settings: 'ss01' on;

  color: #2f2f2f;
}

svg.think {
  margin-top: -50%;
}

.landpagetwo {
  margin-top: -5vw;
  padding-top: -20vw;
}

/*Membership Section*/
.membership {
  background-color: #1b97de;
}
.membershiph1 {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  text-align: left;
  padding-top: 1vw;
}

.membershiptext {
  color: #ffffff;
  width: 75%;
  margin-top: 0vw;
}
.membershiptextnew {
  width: 450px;
  color: #ffffff;

  margin-top: 4vw;
}

.learnmorenew {
  color: #1b97de;
  background-color: #ffffff;
  border-radius: 2vw;
  height: 3vw;
}

a.learnmorenew:hover {
  color: #1b97de;
  text-decoration: none;
}

/*LANDING PAGE RESPONSIVITY*/

@media screen and (max-width: 1490px) {
  svg.think {
    margin-left: -30%;
  }
}

@media screen and (max-width: 1400px) {
  h1.ACMT {
    font-size: 11vh;
  }
  .learn-more {
    margin-top: 75%;
  }
  .maintext {
    font-size: 2.8vh;
  }
}

@media screen and (max-width: 1300px) {
  ul.navbar-nav {
    margin-left: -30%;
  }
  h1.ACMT {
    font-size: 10vh;
  }
  .learn-more {
    margin-top: 70%;
  }
  .maintext {
    font-size: 2.4vh;
  }
  .membershiptextnew {
    width: 100%;
  }
  svg.think {
    width: 300px;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1220px) {
  .learn-more {
    margin-top: 85%;
  }

  .membershiptextnew {
    margin-left: -10%;
  }
  .whitebg {
    margin-top: -8%;
  }
  img.bluebg {
    margin-top: -5%;
  }
}

@media screen and (max-width: 1170px) {
  .whitebg {
    margin-top: -11%;
  }
  img.bluebg {
    margin-top: -10%;
  }
}

@media screen and (max-width: 1125px) {
  .whitebg {
    margin-top: -13%;
  }
  img.bluebg {
    margin-top: -12%;
  }
}

@media screen and (max-width: 1080px) {
  ul.navbar-nav {
    margin-left: -40%;
  }
  svg.think {
    margin-left: 10%;
  }
  .whitebg {
    margin-top: -18%;
  }
  .learn-more {
    margin-top: 90%;
  }
  img.bluebg {
    margin-top: -25%;
  }
  h1.ACMT {
    margin-top: 25%;
    font-size: 9vh;
  }
  .maintext {
    margin-top: 40%;
    font-size: 2.4vh;
  }
  section.landpagetwo {
    margin-top: -15%;
  }
}

@media screen and (max-width: 1050px) {
  .learn-more {
    margin-top: 95%;
  }
}

@media screen and (max-width: 989px) {
  ul.navbar-nav {
    margin-left: 0;
  }
  h1.ACMT {
    font-size: 8.7vh;
    margin-top: 30%;
  }
  .maintext {
    font-size: 2.2vh;
    line-height: 3.5vh;
    margin-top: 50%;
  }
  .whitebg {
    margin-top: -25%;
  }
  img.bluebg {
    margin-top: -30%;
  }
}

@media screen and (max-width: 943px) {
  h1.ACMT {
    font-size: 8.4vh;
  }
}

@media screen and (max-width: 930px) {
  svg.think {
    width: 250px;
    margin-top: -100%;
  }
}

@media screen and (max-width: 912px) {
  h1.ACMT {
    font-size: 8.2vh;
    margin-top: 35%;
  }
}

@media screen and (max-width: 890px) {
  h1.ACMT {
    font-size: 8vh;
  }
  .maintext {
    font-size: 2vh;
    line-height: 3.3vh;
  }
  .whitebg {
    margin-top: -30%;
  }
  img.bluebg {
    margin-top: -40%;
  }
}
@media screen and (max-width: 869px) {
  h1.ACMT {
    font-size: 7.8vh;
  }
}
@media screen and (max-width: 848px) {
  h1.ACMT {
    font-size: 7.6vh;
  }
  .whitebg {
    margin-top: -35%;
  }
  img.bluebg {
    margin-top: -45%;
  }
}
@media screen and (max-width: 827px) {
  h1.ACMT {
    font-size: 7.3vh;
  }
  .learn-more {
    margin-top: 100%;
  }
  .whitebg {
    margin-top: -40%;
  }
  img.bluebg {
    margin-top: -50%;
  }
  svg.think {
    width: 230px;
  }
}

@media screen and (max-width: 796px) {
  h1.ACMT {
    font-size: 7.1vh;
  }
  .whitebg {
    margin-top: -45%;
  }
  img.bluebg {
    margin-top: -55%;
  }
  section.landpagetwo {
    margin-top: -25%;
  }
}
@media screen and (max-width: 773px) {
  h1.ACMT {
    font-size: 6.9vh;
  }
  svg.think {
    width: 210px;
  }
}
@media screen and (max-width: 767px) {
  img.whitebg {
    width: 60%;
    margin-top: -20%;
  }
  img.bluebg {
    width: 60%;
    margin-top: -125%;
  }
  h1.ACMT {
    margin-top: 20%;
    font-size: 6.7vh;
  }
  .maintext {
    margin-top: 30%;
    width: 50%;
    font-size: 1.8vh;
  }
  .learn-more {
    margin-top: 55%;
  }
  .membershiph1 {
    font-size: 5vh;
    margin-left: -10%;
  }
  .membershiptext {
    width: 50%;
    margin-left: -8%;
  }
  .membershiptextnew {
    width: 50%;
    margin-left: 65%;
    margin-top: -50%;
  }
  .learnmorenew {
    height: 2.3rem;
    margin-left: -10%;
  }
  svg.think {
    display: none;
  }
  section.landpagetwo {
    margin-top: -30%;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  h1.whatwedo {
    margin-left: 10%;
  }
  .social-icons {
    margin-left: 25%;
  }
  .copyright {
    margin-left: 21%;
  }
}

@media screen and (max-width: 750px) {
  img.whitebg {
    margin-top: -20%;
  }
  img.bluebg {
    margin-top: -128%;
  }
}

@media screen and (max-width: 740px) {
  img.whitebg {
    margin-top: -25%;
  }
  img.bluebg {
    margin-top: -130%;
  }
}

@media screen and (max-width: 710px) {
  img.bluebg {
    margin-top: -135%;
  }
}

@media screen and (max-width: 700px) {
  img.bluebg {
    margin-top: -140%;
  }
  h1.ACMT {
    margin-top: 17%;
    font-size: 6.5vh;
  }
  .maintext {
    margin-top: 25%;
  }
}
@media screen and (max-width: 680px) {
  img.whitebg {
    margin-top: -30%;
  }
  .membershiptextnew {
    margin-left: 50%;
  }
}

@media screen and (max-width: 650px) {
  img.bluebg {
    margin-top: -150%;
  }
}
@media screen and (max-width: 610px) {
  img.whitebg {
    margin-top: -35%;
    width: 110%;
  }
  body {
    overflow-x: hidden;
  }
  img.bluebg {
    display: none;
  }
  i.fa {
    font-size: 1.5rem;
  }
  h1.ACMT {
    margin-left: 25%;
    font-size: 7vh;
    margin-top: -90%;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 13%;
    font-size: 2.5vh;
    margin-top: -80%;
  }
  .learn-more {
    margin-top: -50%;
    margin-left: 40%;
  }
  section.landpagetwo {
    margin-top: 0%;
  }
  .membershiph1 {
    margin-left: 20%;
  }
  .membershiptext {
    margin-left: 0%;
  }
  .learnmorenew {
    margin-left: 0%;
  }
  .membershiptextnew {
    margin-top: -47.5%;
    margin-left: 55%;
  }
}
@media screen and (max-width: 550px) {
  h1.ACMT {
    margin-left: 20%;
    font-size: 7vh;
    margin-top: -105%;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 11%;
    font-size: 2.5vh;
    margin-top: -90%;
  }
  .learn-more {
    margin-top: -50%;
    margin-left: 35%;
  }
  .membershiptextnew {
    margin-left: 50%;
  }
}

@media screen and (max-width: 500px) {
  h1.ACMT {
    margin-top: -120%;
    margin-left: 15%;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 9%;
    font-size: 2.5vh;
    margin-top: -105%;
  }
  .learn-more {
    margin-top: -60%;
    margin-left: 30%;
  }
  h1.whatwedo {
    margin-left: 0%;
  }
  .membershiptextnew {
    display: none;
  }
  .membershiptext {
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
  .membershiph1 {
    margin-left: 12%;
  }
  button.learnmorenew {
    margin-left: 35%;
  }
  .social-icons {
    margin-left: 13%;
  }
  .copyright {
    margin-left: 7%;
  }
}

@media screen and (max-width: 450px) {
  h1.ACMT {
    margin-top: -135%;
    margin-left: 10%;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 9%;
    font-size: 2.5vh;
    margin-top: -120%;
  }
  .learn-more {
    margin-top: -70%;
    margin-left: 30%;
  }
  .copyright {
    margin-left: 5%;
  }
}
@media screen and (max-width: 430px) {
  h1.ACMT {
    margin-top: -140%;
    margin-left: 10%;
    font-size: 6.5vh;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 9%;
    font-size: 2.1vh;
    margin-top: -125%;
  }
  .learn-more {
    margin-top: -75%;
    margin-left: 25%;
  }
  .copyright {
    margin-left: 0%;
  }
  h1.whatwedo {
    font-size: 6vh;
    display: inline;
  }
  .membershiph1 {
    margin-left: 5%;
  }
  .social-icons {
    margin-left: 5%;
  }
}

@media screen and (max-width: 400px) {
  img.whitebg {
    margin-top: -45%;
  }
  h1.ACMT {
    margin-top: -150%;
    margin-left: 5%;
    font-size: 6.5vh;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 7%;
    font-size: 2.1vh;
    margin-top: -135%;
  }
  .learn-more {
    margin-top: -80%;
    margin-left: 20%;
  }
  .copyright {
    margin-left: -5%;
  }
  h1.whatwedo {
    font-size: 5.8vh;
    display: inline;
  }
  .membershiph1 {
    margin-left: 0%;
  }
  .social-icons {
    margin-left: 5%;
  }
}

@media screen and (max-width: 375px) {
  img.whitebg {
    margin-top: -45%;
    width: 150%;
    margin-left: -20%;
  }
  h1.ACMT {
    margin-top: -155%;
    margin-left: 5%;
    font-size: 6.3vh;
  }
  .maintext {
    width: 80%;
    text-align: center;
    margin-left: 7%;
    font-size: 2vh;
    margin-top: -140%;
  }
  .learn-more {
    margin-top: -80%;
    margin-left: 20%;
  }
  .copyright {
    margin-left: -5%;
    font-size: 90%;
  }
  h1.whatwedo {
    font-size: 5.5vh;
    display: inline;
  }
  .membershiph1 {
    margin-left: 5%;
    font-size: 4.5vh;
  }
  .social-icons {
    margin-left: 0%;
  }
}

/* LOADER */

.loading {
  background-color: white;
  position: fixed;
  left: 45vw;
  top: 35vh;
  background: url('../images/acm.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  z-index: 9999;
}
.loading:after {
  content: '';
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  top: 0%;
  left: 1%;
  opacity: 0.7;
  box-shadow: #006494 -4px -6px 8px -4px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .loading {
    left: 41vw;
  }
  .loading:after {
    left: 0%;
  }
}
@media screen and (max-width: 768px) {
  .loading {
    left: 38vw;
    top: 38vh;
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 425px) {
  .loading {
    left: 34vw;
    top: 42vh;
    width: 140px;
    height: 140px;
  }
}
@media screen and (max-width: 375px) {
  .loading {
    left: 30vw;
    top: 40vh;
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 320px) {
  .loading {
    left: 30vw;
    top: 38vh;
    width: 120px;
    height: 120px;
  }
}

/* Team Page */

.team-page {
  font-family: 'Poppins', sans-serif;
}

.team-page-headings-div {
  margin-bottom: 7%;
}
.team-page-head {
  padding-top: 12.5%;
  color: rgba(67, 67, 67, 1);
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
}
.team-page-subhead {
  color: rgba(67, 67, 67, 1);
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}
.presidents,
.society-heads,
.carousel {
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-bottom: 2%;
}

.team-page .president-heading,
.team-page .society-heads-heading,
.team-page .department-heads-heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2%;
  color: rgba(67, 67, 67, 1);
  text-transform: capitalize;
}
.team-page .department-heads-heading {
  margin-top: 4%;
  margin-bottom: 2%;
}
.president-img-div {
  display: inline-block;
  width: 38%;
  margin: auto;
}
.president-img {
  width: 16.875rem;
  border-radius: 50%;
  height: 16.875rem;
  padding: 0;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.4));
  display: inline;
}
.society-heads-img-div {
  display: inline-block;
  width: 29%;
  margin: auto;
}
.society-heads-img {
  width: 12.75rem;
  border-radius: 50%;
  height: 12.75rem;
  padding: 0;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.4));
  display: inline;
  position: relative;
}
.team-page .position {
  font-size: 1.2rem;
  padding: 25px 10px 0;
  color: black;
  font-weight: 200;
  text-transform: uppercase;

  margin: 5% auto 0;
  position: relative;
  bottom: 0;
}
.team-page .name {
  font-size: 1.7rem;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
  margin: 0 auto 1%;
}
.team-page .fa {
  padding: 0 10px;
  font-size: 1.2rem;
  color: black;
  transition: 0.4s;
}
.team-page .fa:hover {
  color: #006494;
}

.carousel {
  width: 95%;
  display: block;
  margin: 10% auto 0;
  margin-top: 1%;
}
.slick-slide {
  height: auto;
  text-align: center;
  align-items: center;
}

.slick-current .carousel-credentials {
  display: block;
}
.slick-slide img {
  margin: 20% auto;
  padding: 0;
  border-radius: 50%;
  width: 14.5rem;
  height: 14.5rem;
  text-align: center;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.4));
  margin-bottom: 2%;
}

.slick-arrow {
  background-color: green;
  border-radius: 50%;
}
.slick-center {
  transform: scale(1.2, 1.2);
  transform-origin: 50% 50%;
  margin-bottom: 0.5%;
}
.carousel-credentials {
  margin-bottom: 10%;
  display: none;
}
.hero-figure img {
  margin-top: 36%;
  margin-left: 2%;
}
.hide {
  display: none;
}
.hero {
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .team-page .president-img-div {
    width: 30%;
  }
  .team-page .society-heads-img-div {
    width: 25%;
  }
}
@media (max-width: 1180px) {
  .team-page .president-img-div {
    width: 35%;
  }
  .team-page .society-heads-img-div {
    width: 27%;
  }
}
@media (max-width: 1080px) {
  .team-page .president-img-div {
    width: 40%;
  }
  .team-page .society-heads-img-div {
    width: 30%;
  }
}
@media (max-width: 980px) {
  .president-img {
    width: 19rem;
    height: 19rem;
  }
  .society-heads-img {
    width: 15rem;
    height: 15rem;
  }
  .slick-slide img {
    width: 13rem;
    height: 13rem;
  }
  .team-page .position {
    font-size: 1.1rem;
  }
  .team-page .name {
    font-size: 1.6rem;
  }
}
@media (max-width: 850px) {
  .president-img {
    width: 17rem;
    height: 17rem;
  }
  .society-heads-img {
    width: 13.5rem;
    height: 13.5rem;
  }
  .slick-slide img {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 768px) {
  .presidents,
  .society-heads,
  .carousel {
    margin-bottom: 5rem;
  }
  .team-page-headings-div {
    height: 60%;
  }
  .fa-arrow-down {
    display: none;
  }
  .slick-slide img {
    margin: 10% auto;
    height: 10rem;
    width: 10rem;
  }
  .slick-slide {
    margin: 1% auto;
  }
  .carousel {
    margin: 10% auto;
    width: 100%;
  }
  .carousel .position {
    font-size: 0.9rem;
  }
  .carousel .name {
    font-size: 1.3rem;
  }
  .carousel .fa {
    font-size: 1.3rem;
  }

  .team-page .society-heads-img-div {
    width: 45%;
    margin: 2.5% auto;
  }
  .team-page .president-img-div {
    margin: 5%;
    width: 35%;
  }
  .president-heading,
  .society-heads-heading,
  .department-heads-heading {
    font-size: 3rem;
  }
  .president-img {
    height: 15rem;
    width: 15rem;
  }
}
@media (max-width: 650px) {
  .president-img {
    height: 14rem;
    width: 14rem;
  }
  .slick-slide img {
    height: 9rem;
    width: 9rem;
  }
  .team-page-head {
    font-size: 3.3rem;
  }
  .team-page-subhead {
    font-size: 2.2rem;
  }
  .carousel .name {
    font-size: 1.1rem;
  }
}
@media (max-width: 590px) {
  .president-img-div {
    min-width: 90%;
  }
  .society-heads-img-div {
    min-width: 90%;
  }
  .society-heads-img {
    height: 16rem;
    width: 16rem;
  }
  .slick-slide img {
    height: 7.5rem;
    width: 7.5rem;
  }
}
@media (max-width: 425px) {
  .carousel .fa {
    font-size: 1rem;
  }
  .team-page-subhead {
    font-size: 1.7rem;
  }
  .team-page-head {
    font-size: 2.4rem;
    padding-top: 25%;
    margin-top: 10%;
  }
  .team-page .president-heading,
  .team-page .society-heads-heading,
  .team-page .department-heads-heading {
    font-size: 1.8rem;
  }
  .slick-slide img {
    height: 8rem;
    width: 8rem;
  }
}

/* Team-page styles end */

/*Project Page styles*/

.topsection {
  overflow-x: hidden;
}

#student {
  position: relative;
  left: 520px;
  top: -150px;
}
.front h1 {
  position: relative;
  white-space: pre;
  left: 130px;
  top: 210px;
}
.front p {
  position: relative;
  left: 130px;
  top: 210px;
}
.pcontainer {
  position: relative;
  top: -270px;
}
.pcardimgtop {
  height: 180px;
  width: 100%;
  overflow: hidden;
  margin-left: -0.5px;
}
.pcardtitle {
  padding-top: 13.5px;
  font-size: 16px;
  font-weight: bold;
}
.pcardtext {
  padding-top: 5px;
  font-size: 11.5px;
  color: rgb(95, 93, 93);
}
.pc4 {
  position: relative;
  left: 25px;
}
.heading-project {
  font-weight: bold;
  font-size: 52px;
}
.tagline {
  font-size: 22px;
}
.pbtn {
  font-size: 14px;
  font-weight: 570;
  position: relative;
  left: 170px;
  top: 10px;
}
.pcardbody button {
  border: none;
  cursor: pointer;
  outline: none;
  border-color: transparent;
}
.pcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.faces {
  position: absolute;
  display: inline-block;
  padding-top: 13px;
}
.faces img {
  height: 20px;
  width: 20px;
}
.more {
  color: rgb(165, 165, 165);
  font-size: 10px;
}
.more:hover {
  text-decoration: none;
}
.rec {
  position: absolute;
  height: 25px;
  width: 48.5px;
  top: 12px;
  left: 12px;
}
img.rounded-corners {
  border-radius: 6px;
}
.pmodal {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mcp {
  position: absolute;
  top: 60px;
  right: 115px;
  min-width: 750px;
  height: 1340px;
  background-color: #ffffff;
}
.mip {
  position: relative;
  top: -2px;
  left: -2px;
  height: 400px;
  width: 750px;
}
.close {
  position: absolute;
}
.mhp {
  position: relative;
  left: 132.5px;
  top: 50px;
}
.date {
  position: relative;
  left: 26px;
}
.dt {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  bottom: 10px;
  left: 17px;
}
.month {
  position: relative;
  left: 23px;
  top: 15px;
  font-size: 13px;
  color: rgb(71, 71, 71);
}
.paras {
  position: relative;
  left: 132.5px;
  bottom: 32.5px;
  font-size: 15.6px;
  color: rgb(71, 71, 71);
}
.rowmodal {
  display: flex;
}
.pc2 img {
  height: 50px;
  width: 50px;
}
.team {
  position: relative;
  left: 20px;
  top: 20px;
}
.pc2 p {
  white-space: nowrap;
  position: relative;
  right: 29px;
}
.random {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: 5px;
}
.position {
  font-size: 13px;
  position: relative;
  bottom: 14px;
}
.team h2 {
  position: relative;
  left: 110.5px;
  bottom: 12px;
  color: rgb(116, 112, 112);
  font-size: 28px;
}
.resources h2 {
  position: relative;
  left: 124.5px;
  top: 60px;
  color: rgb(116, 112, 112);
  font-size: 28px;
}
.rect {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  height: 60px;
}
.student {
  width: 400px;
  margin: 4% auto;
  position: relative;
}
.srvc_icon {
  width: 29px;
  position: absolute;
}
.openBookIcon {
  top: 20%;
  right: 0;
}
.student {
  width: 400px;
  margin: 4% auto;
  position: relative;
}
.srvc_icon {
  width: 29px;
  position: absolute;
}
.openBookIcon {
  top: 20%;
  right: 0;
}

#student {
  width: 600px;
}
.cardsec {
  margin-top: 15%;
}

/* Blogs Page Styles */
section.bvswitch {
  margin-top: 7rem;
}

.blogswitch {
  margin-left: -2rem;
  text-decoration: underline;
  text-decoration-color: #1b98df;
}
.videoswitch {
  margin-left: 6.5rem;
}
.recentb {
  margin-top: 2rem;
  font-weight: 1000;
}
.latestb {
  font-weight: 600;
  margin-top: 1rem;
}
.mainblogimg {
  width: 30rem;
  height: 18rem;
  margin-top: 1.5rem;
  border-radius: 3% 3% 3% 3%;
  margin-left: -0.5rem;
  overflow: hidden;
}
.mbtitle {
  margin-top: 2rem;
  margin-left: 7rem;
  width: 35rem;
  font-weight: 500;
  color: #1b98df;
}
.latestsubtext {
  margin-left: 7rem;
  color: #9d9d9d;
  width: 33rem;
}
.mbtext {
  margin-top: 2rem;
  margin-left: 7rem;
  width: 34rem;
}

.mightlike {
  font-weight: 600;
  margin-top: 3rem;
}

.leftcardb {
  margin-top: 2rem;
  margin-left: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.midcardb {
  margin-top: 2rem;
  margin-left: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightcardb {
  margin-top: 2rem;
  margin-left: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bcardtitle {
  color: #1b98df;
}

.bcardimg {
  height: 11rem;
  width: 100%;
  object-fit: cover;
}

.bcard {
  height: 22rem;
}

.cardsubtext {
  color: #9d9d9d;
  width: 108%;
  margin-top: 1rem;
}

.bfooter {
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .leftcardb {
    margin-left: -0.5rem;
  }
  .rightcardb {
    margin-left: 2.5rem;
  }
  .mainblogimg {
    margin-left: -1.5rem;
  }
}

@media screen and (max-width: 1089px) {
  .leftcardb {
    margin-left: -2rem;
  }
  .rightcardb {
    margin-left: 2rem;
  }
  .midcardb {
    margin-left: 0rem;
  }
  .mainblogimg {
    margin-left: -1.5rem;
  }
}
@media screen and (max-width: 1073px) {
  .leftcardb,
  .rightcardb,
  .midcardb {
    width: 18rem !important;
  }
  .latestupload {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1020px) {
  .leftcardb,
  .rightcardb,
  .midcardb {
    width: 16rem !important;
  }
  .leftcardb {
    margin-left: 1rem;
  }
  .rightcardb {
    margin-left: 1rem;
  }
  .midcardb {
    margin-left: 1rem;
  }
  .bcardtitle {
    font-size: 1rem;
  }
  .mainblogimg {
    width: 25rem;
    height: 15rem;
    margin-left: 2rem;
  }
  .mbtitle {
    width: 32rem;
  }
  .mbtext {
    width: 30rem;
  }
}
@media screen and (max-width: 991px) {
  .mainblogimg {
    margin-left: -3rem;
  }
  .leftcardb {
    margin-left: -6rem;
  }
  .rightcardb {
    margin-left: 3rem;
  }
  .midcardb {
    margin-left: -1rem;
  }
  .mightlike {
    margin-left: 1.5rem;
  }
  .recentb {
    margin-left: 2rem;
  }
  .latestb {
    margin-left: 1.5rem;
  }
  .recentp {
    margin-left: 1.5rem;
  }
  .mbtitle {
    width: 30rem;
  }
  .mbtext {
    width: 28rem;
  }
  .latestsubtext {
    width: 28rem;
  }
}
@media screen and (max-width: 930px) {
  .leftcardb {
    margin-left: -5rem;
  }
  .rightcardb {
    margin-left: 2rem;
  }
  .midcardb {
    margin-left: -1.5rem;
  }
  .mightlike {
    margin-left: 1.5rem;
  }
  .recentb {
    margin-left: 2rem;
    font-size: 200%;
  }
  .latestb {
    margin-left: 1.5rem;
  }
  .recentp {
    margin-left: 1.5rem;
  }
  .mbtitle {
    width: 27rem;
    font-size: 170%;
  }
  .mbtext {
    width: 25rem;
  }
  .latestsubtext {
    width: 25rem;
  }
}
@media screen and (max-width: 862px) {
  .leftcardb,
  .rightcardb,
  .midcardb {
    width: 14rem !important;
    height: 20rem;
  }
  .bcardimg {
    height: 10rem;
  }
  .cardsubtext {
    margin-top: 0rem;
    font-size: 0.7rem;
  }
  .leftcardb {
    margin-left: -2rem;
  }
  .rightcardb {
    margin-left: 1rem;
  }
  .midcardb {
    margin-left: -0.5rem;
  }
}
@media screen and (max-width: 795px) {
  .mainblogimg {
    width: 20rem;
    height: 12rem;
    margin-left: 1rem;
    margin-top: 2.5rem;
  }
  .mbtitle {
    font-size: 140%;
    width: 20rem;
  }
  .mbtext {
    font-size: 90%;
    width: 22rem;
    margin-top: 0rem;
  }
  .latestsubtext {
    width: 20rem;
  }
}

@media screen and (max-width: 771px) {
  .blogswitch {
    margin-left: 3rem;
  }
  .videoswitch {
    margin-left: 26rem;
    margin-top: -2.2rem;
  }

  .mainblogimg {
    width: 32rem;
    height: 19rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .mbtitle {
    font-size: 180%;
    width: 45rem;
    margin-left: -4.5rem;
  }
  .mbtext {
    font-size: 120%;
    width: 40rem;
    margin-top: 0rem;
    margin-left: -4rem;
    text-align: center;
  }
  .latestsubtext {
    width: 40rem;
    margin-left: -4rem;
    font-size: 100%;
    text-align: center;
  }
  .leftcardb,
  .rightcardb,
  .midcardb {
    width: 20rem !important;
    height: 22rem;
  }
  .bcardimg {
    height: 12em;
  }
  .bcardtitle {
    font-size: 1.2rem;
  }
  .cardsubtext {
    margin-top: 0rem;
    font-size: 0.9rem;
  }
  .leftcardb {
    margin-left: 6.5rem;
  }
  .rightcardb {
    margin-left: 6.5rem;
  }
  .midcardb {
    margin-left: 6.5rem;
  }
}
@media screen and (max-width: 700px) {
  .mainblogimg {
    width: 28rem;
    height: 16rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
  }
  .mbtitle {
    font-size: 160%;
    width: 38rem;
    margin-left: -2.5rem;
  }
  .mbtext {
    font-size: 110%;
    width: 35rem;
    margin-top: 0rem;
    margin-left: -1.5rem;
    text-align: center;
  }
  .latestsubtext {
    width: 35rem;
    margin-left: -2rem;
    font-size: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 610px) {
  .mainblogimg {
    width: 26rem;
    height: 15rem;
    margin-left: 4rem;
    margin-top: 1rem;
  }
  .mbtitle {
    font-size: 140%;
    width: 33rem;
    margin-left: 0rem;
  }
  .mbtext {
    font-size: 100%;
    width: 28rem;
    margin-top: 0rem;
    margin-left: 2rem;
    text-align: center;
  }
  .latestsubtext {
    width: 25rem;
    margin-left: 3.5rem;
    font-size: 85%;
    text-align: center;
  }
}

@media screen and (max-width: 551px) {
  .blogswitch {
    margin-left: 6rem;
  }
  .videoswitch {
    margin-left: 22rem;
    margin-top: -2.2rem;
  }
  .recentb {
    font-size: 150%;
  }
  .latestb {
    font-size: 150%;
  }
  .recentp {
    width: 70%;
    text-align: center;
  }
  .mainblogimg {
    width: 20rem;
    height: 13rem;
    margin-left: 7rem;
  }
  .mbtitle {
    font-size: 120%;
    margin-left: 2.5rem;
  }
}
@media screen and (max-width: 515px) {
  .blogswitch {
    margin-left: 4rem;
  }
  .videoswitch {
    margin-left: 20rem;
    margin-top: -2.2rem;
  }
  .recentb {
    margin-left: 0rem;
  }
  .recentp {
    margin-left: 0rem;
  }
  .latestb {
    margin-left: 0rem;
  }
  .mainblogimg {
    margin-left: 5rem;
  }
  .mbtitle {
    margin-left: 4rem;
    width: 21rem;
    text-align: center;
    font-size: 160%;
  }
  .latestsubtext {
    margin-left: 4rem;
    width: 20rem;
  }
  .mbtext {
    margin-left: 2.5rem;
    width: 24rem;
  }
  .leftcardb,
  .rightcardb,
  .midcardb {
    margin-left: 5rem;
  }
  .mightlike {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 430px) {
  .blogswitch {
    margin-left: 2rem;
  }
  .videoswitch {
    margin-left: 16rem;
    margin-top: -2.2rem;
  }
  .recentb {
    margin-left: -1rem;
  }
  .recentp {
    margin-left: -1rem;
  }
  .latestb {
    margin-left: -1rem;
  }
  .mainblogimg {
    margin-left: 2.5rem;
  }
  .mbtitle {
    margin-left: 1.5rem;
  }
  .latestsubtext {
    margin-left: 1.7rem;
  }
  .mbtext {
    margin-left: 0.5rem;
  }
  .leftcardb,
  .rightcardb,
  .midcardb {
    margin-left: 2.2rem;
  }
  .mightlike {
    margin-left: -1rem;
  }
}

/* Blogs styles end 
Videos styles start  */

.vblogswitch {
  margin-left: -2rem;
}
.vvideoswitch {
  margin-left: 6.5rem;
  text-decoration: underline;
  text-decoration-color: #1b98df;
}

.recentv {
  margin-top: 2rem;
}
.latestv {
  font-weight: 600;
  margin-top: 1rem;
}

.mainvideo {
  margin-top: 2rem;
  overflow-x: hidden;
}

.mainvideolink {
  width: 40rem;
  height: 23rem;
  margin-left: 0.5rem;
}
.vidtitle {
  margin-top: 1rem;
  font-weight: 550;
}

p.vidtext {
  width: 37rem;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #646464;
}

@media screen and (max-width: 767px) {
  .vblogswitch {
    margin-left: 3rem;
  }
  .vvideoswitch {
    margin-left: 26rem;
    margin-top: -2.2rem;
  }
}
@media screen and (max-width: 550px) {
  .vblogswitch {
    margin-left: 2rem;
  }
  .vvideoswitch {
    margin-left: 24rem;
    margin-top: -2.2rem;
  }
  .mainvideolink {
    width: 30rem;
    height: 20rem;
  }
}
@media screen and (max-width: 486px) {
  .vblogswitch {
    margin-left: 1rem;
  }
  .vvideoswitch {
    margin-left: 22rem;
  }
  .mainvideolink {
    width: 27rem;
    height: 18rem;
  }
}
@media screen and (max-width: 430px) {
  .vblogswitch {
    margin-left: 1.5rem;
  }
  .vvideoswitch {
    margin-left: 18rem;
  }
  .recentv {
    width: 20rem;
    text-align: center;
    margin-top: 1rem;
  }
  .mainvideolink {
    width: 22rem;
    height: 15rem;
  }
  .vidtitle {
    text-align: center;
  }
  .vidtext {
    width: 21rem;
  }
}
@media screen and (max-width: 380px) {
  .vblogswitch {
    margin-left: 1.5rem;
  }
  .vvideoswitch {
    margin-left: 15rem;
  }
}
/* video page styling ends */
